name: Test Action

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allowed-actors: buluma,dependabot[bot]
          package-block-list: '@actions/core,@actions/github'
